* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.tekst0 {
    font-weight: 800;
    font-size: 80px;
}
.tekst1{
    font-weight: 800;
    font-size: 80px;
    color:#9d5c0c;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding-top: 40px;
    position: fixed;
    width: 100%;
    z-index: 1;

}
.links {
    color: lightgray;
    margin-right: 70px;
    text-decoration: none;

}

.logo {
   width: 80px;
    margin-top: -11px;
    margin-top: -11px;
    margin-right: 50px;
}

.box3{
    background-color: red;
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.rosterdivs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}
.break{
    width: 100%;
    height: 40px;
}
