* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
 font-family: 'Work Sans', sans-serif;
 font-weight: 300;

}


body::after {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 100px rgba(0, 0, 0, 1);
  z-index: 100;
}



h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
}

.backgrounddiv {
    background-image: url("../pictures/bakgrunn.png");
    width: 100%;
    height: 900px;
    text-align: center;
}

/*  --------
    NAVBAR-LITEN
    --------    */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
    }
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    padding-top: 40px;
    position: fixed;
    width: 100%;
    z-index:1;
}

.navbar img {
    cursor: pointer;
}

.navicon {

    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 50px;

}


.links {
    color: gray;
    margin-right: 70px;
    text-decoration: none;

}

.links:hover {
    color: #9d5c0c;
}

.logo {
    width: 150px;
    margin-right: 50px;
    padding-top: 200px;
}

.backgrounddiv h1 {
    margin-top: 50px;
    color: white;
    font-size: 7em;

}

.slagord {
        margin-top: 200px;
    font-weight: 600;
    font-size: 1em;
    color: white;
    letter-spacing: 2px;
}

#stripe {
    width: 350px;
    height: 30px;
    background-color: #9d5c0c;
    margin-left: calc(50% - 175px);

}

.rostercontainer {
    margin-top: 100px;

}

.stripe1 {
    margin-left: 7%;
    margin-top: 10px;
    background-color: #2d2d2d;
    width: 150px;
    height: 10px;
}

.top img, .jung img, .mid img, .adc img, .supp img {
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
    transition: .5s;
}


.toptes:hover {
    opacity: 0.1;
    border-radius: 20px;
}

.opgg img:hover {
    opacity: 1;
}

.top a {

    position: absolute;
    margin-left: calc(50% - 30px);
    margin-top: calc(50% + 50px);
    opacity: 0;

}

.gragas {
    position: absolute;
    left: 70%
}

.top a button {
    background-color: rgb(202,149,11);
    border-style: none;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 600;
}


.spillheader {
    background: rgb(202,149,11);
    background: linear-gradient(90deg, rgba(202,149,11,1) 2%, rgba(157,92,12,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 80px;
}

.rosterdivs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.rosterdivs div{
    margin: 50px 20px 50px 20px;
    height: 400px;
    width: 250px;
    background-color: lightgray;
}

.staffdivs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}

.staffdivs div{
    margin: 50px 20px 150px 20px;
    height: 400px;
    width: 250px;
    background-color: lightgray;
}

.staffdivs div img {
    max-width: 100%;
    max-height: 100%;
}


.countdowncontainer {
    background-color: #2d2d2d;
    background-image: url(../pictures/bakgrunn.png);

}


.countdowncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motstanderheader h1{
    font-size: 3em;
    margin-top: 50px;
    background: rgb(202,149,11);
    background: linear-gradient(90deg, rgba(202,149,11,1) 2%, rgba(157,92,12,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.motstanderheader p {
    color: white;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;

}

.countdown div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px 20px 40px;
}

.countdown div h1 {
    font-size: 5em;
}

.streambutton {

    margin-bottom: 50px;
    width: 100px;
    height: 30px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.streambutton:hover {
    background-color: rgba(202,149,11,1);
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(202,149,11,0.4);
}

.sponsorholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
    margin-top: 300px;
}

.sponsorholder h1 {
    font-size: 4em;
    color: #2d2d2d;

}

.sponsorholder div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}

.sponsorholder div h3 {
    margin: 50px 0px 20px 0px;
    color: #2d2d2d;
}

.sponsorholder button {
    margin-top: 50px;
    border-style: none;
    background: linear-gradient(90deg, rgba(202,149,11,1) 2%, rgba(157,92,12,1) 100%);
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
    position: fixed;

}

/*  --------
    VALORANT
    --------    */

.soknadvalorantholder {
    background-image: radial-gradient(#d3d3d3 2px, transparent 1px);
    background-size: 100px 100px;
    padding-bottom: 400px;
    padding-top: 100px;
}

.valorantxtae {
    width: 300px;
    margin-left: calc(50% - 150px);
    margin-bottom: 50px;
}

.h1valorant {
    font-size: 4em;
    width: 600px;
    color: #2d2d2d;
}

.valoranttekstholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.valoranttekstholder {

}

.h1holder {
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
}

.pholder {
    width: 400px;
    line-height: 25px;
    margin-top: 30px;

}

.pholder button {
    margin-top: 50px;
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}
.søkher:hover {
    background-color: rgba(202,149,11,1);
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(202,149,11,0.4);
}

.valorantstripe {
    width: 150px;
    height: 1px;
    background-color: black;
    margin-left: calc(50% - 75px);
    margin-top: 200px;
}

@media screen and (max-width: 1000px) {

    .links {
        display: none;
    }
    .valoranttekstholder {
        justify-content: flex-start;
        margin-left: 100px;
    }

    .soknadvalorantholder p{
        font-size: 30px;
        line-height: 40px
    }

    .pholder button {
        width: 300px;
        height: 90px;
        font-size: 1.5em;
    }

    .navicon {
        display: block;
        width: 30px;
        height: 30px;
        margin-top: -5px;
        margin-right: 20px;
    }
}



/*  --------
    BOTTOMBAR
    --------    */

.bottombar {
    background-color: #2d2d2d;
    color: white;
    padding: 50px 50px 30px 100px;
    text-align: center;
    letter-spacing: .6px;
}

.twitter {
    width: 60px;
}

.mediaicons {
    margin-left: -20px;
}

.twitch {
    width: 35px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.discord {
    width: 40px;
    margin-bottom: 16px;
}

.mediaicons {
    text-align: center;
}

.soscialmediaholder {
    margin-bottom: 200px;
}

.taelogo {
    width: 80px;
    padding-bottom: 20px;
}







